#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inputTaskContainer{
  display: flex;
  gap: 10px;
}
h1{
  color: mediumaquamarine;
}
.allTask{
  border: 2px solid mediumaquamarine;
  margin-top: 12px;
  text-align: justify;
  padding: 12px;
  border-radius:  8px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.taskContainer{
  display: flex;
}
.taskElement{
  display: flex;
  align-items: center;
  gap: 18px;
}
.inputHome{
  width: 500px;
  height: 50px;
  font-size: 18px;
  padding: 8px;
  border: 2px solid mediumaquamarine;
  border-radius: 8px;
}
.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: mediumaquamarine;
  border: 2px solid mediumspringgreen;
}
.checkbox:hover{
  background-color: black;
  border: 2px solid mediumaquamarine;
  cursor: pointer;

}
.addbtn{
  background-color: black;
  border: 2px solid mediumaquamarine;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
